.mobile-dropdown {
  max-height: calc(100vh - 90px);
  overflow-y: auto;
}

.navbar-inner {
  max-width: 68vw;
  margin: 0 auto;
}

@media (max-width: 639px) {
  .navbar-inner {
    max-width: none;
    margin: 0;
  }
}

@media (max-width: 400px) {
  .mobile-dropdown {
    right: 8px !important;
    left: 8px !important;
    padding: 16px !important;
  }

  .nav-item a {
    font-size: 12px !important;
  }
}
